<div id="footer" class="nav-bar no-print">
    <div class="left">
    </div>
    <div class="right">
        <img src="/images/flags/ir.svg" onclick="setLanguage('fa')">
        <img src="/images/flags/gb.svg" onclick="setLanguage('en')">
    </div>
</div>